<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
      #wrapper { position: relative; }
      
      #text { 
          position: absolute; 
          top: 200px; 
          right: 6px; 
          z-index: 100;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 6px;
          font-style: normal;
          color: red;
          border: 0px;
          background-color: white;
          padding: 5px;
          width: 210px;}    
      #over_map { 
          position: absolute; 
          top: 24px; 
          right: 6px; 
          z-index: 99;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-style: normal;
          color: red;
          border: 0px;
          background-color: white;
          padding: 5px;
          width: 210px;}
    </style>
    
<script type="text/javascript">
tday=new Array("Dom","Lun","Mar","Mer","Gio","Ven","Sab");
tmonth=new Array("Gen","Feb","Mar","Apr","Mag","Giu","Lug","Ago","Sett","Ott","Nov","Dic");

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear(),nhour=d.getHours(),nmin=d.getMinutes(),ap;
     if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nyear<1000) nyear+=1900;
if(nmin<=9) nmin="0"+nmin;

document.getElementById('clockbox').innerHTML="<font size=-2>"+tday[nday]+" "+ndate+" "+tmonth[nmonth]+" "+nyear+"</font> <br>"+nhour+":"+nmin+ap+"";
}

window.onload=function(){
GetClock();
setInterval(GetClock,1000);
}
</script>


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    //  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=SET_TO_TRUE_OR_FALSE">
    </script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript">

       var iconCounter = 0;
       var markerslist = new Array();
       var infowindow = new google.maps.InfoWindow({
              maxWidth: 160
       });


        function arraycontains(a, obj) {
            for (var i = 0; i < a.length; i++) {
                if (a[i] === obj) {
                    return true;
                }
            }
            return false;
        }


        // Setup the different icons and shadows
        var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';

        var icons = [
          iconURLPrefix + 'red-dot.png',
          "http://www.innovationengineering.it/d-rats-support/Xgreen.png",
          "http://www.innovationengineering.it/d-rats-support/Xorange.png",
          "http://www.innovationengineering.it/d-rats-support/Xblue.png",
          "http://www.innovationengineering.it/d-rats-support/Xred.png",
          iconURLPrefix + 'green-dot.png',
          iconURLPrefix + 'orange-dot.png',
          iconURLPrefix + 'purple-dot.png',
          iconURLPrefix + 'pink-dot.png',
          iconURLPrefix + 'yellow-dot.png'
        ]
        var icons_length = icons.length;

       function initialize() {

        var initLatLng = new google.maps.LatLng({{ lat }}, {{ lng }});
        var mapOptions = {
          center: initLatLng,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.TERRAIN
          };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
       //
       // here it is possible to load a KML track file
       //
        var map_overlay = new google.maps.KmlLayer('http://www.innovationengineering.it/d-rats-support/resegup.kmz');
        map_overlay.setMap(map);


       //   marker = new google.maps.Marker({
       //   title: "the sweeping sweep!"
       //});
       //
      }
      function updateMarker(data) {
        // parse data and create a new LatLng object
        var point = JSON.parse(data);
        
        // define the color for stations not listed below
        iconid=0;
        
        if (point.station=="AA") {iconid=2 };
        if (point.station=="zz001") {iconid=3 };       
        // differentiate icon colors upon station name
        if (point.station=="IQ2LC1") {iconid=1 };
        if (point.station=="IQ2LC2") {iconid=2 };
        if (point.station=="IQ2LC3") {iconid=3 };
        if (point.station=="IQ2LC4") {iconid=4 };


        marker = new google.maps.Marker({
            position: new google.maps.LatLng(point.lat, point.lng),
            map: map,
            title: point.station,
            icon : icons[iconid]
             });

          // markerslist.push(marker);

              google.maps.event.addListener(marker, 'click', (function(marker) {
                  return function() {
                  infowindow.setContent(marker.title);
                  infowindow.open(map, marker);

                }
              })(marker));


      /*  //check if we need to create a new marker or just update an existing one
        if (arraycontains(markerslist,point.station)==false) {
            markerslist.push(point.station);
            console.log(point.station);
        }

        console.log(markerslist);

        curLatLng = new google.maps.LatLng(point.lat, point.lng);
        marker.setPosition(curLatLng);
        marker.setMap(map);
        marker.setTitle(point.station);
        console.log(curLatLng)
      */

      console.log(markerslist);

      }

      google.maps.event.addDomListener(window, 'load', initialize);

      // connect socket and define callbacks
      var socket = io.connect('/stream');
      socket.on('connect', function() {
        console.log("socket connected");
      });
      socket.on('disconnect', function() {
        console.log("socket disconnected");
      });
      socket.on('message', function(data) {
        addMessage(data);
        updateMarker(data);
      });
    </script>
    <script>
      addMessage = function(text) {
        console.log("addMessage() says: \"" + text + "\"");
        document.getElementById('text').innerHTML = text;
      }
    </script>
  </head>
  <body>
    <div id="text"></div>
    <div id="map-canvas"></div>
    <div id="over_map">
      <img border=0 src="http://www.innovationengineering.it/d-rats-support/arilecco.jpg" width=101 height=101 align=left ></img>
      <center>Monitoraggio <br>realtime<hr> 
      <div id="clockbox"></div><hr></center>
      <img border=0 src="http://www.resegup.it/wp-content/uploads/2014/12/logo@2x.png" width=200 ></img>
     <!-- <img border=0 src="http://static.wixstatic.com/media/9cda5f_b41a1458968b446d9168eaf482851440.jpg" width="200" >-->
    </div>
  </body>
</html>
